@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Fira+Code:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.barra::-webkit-scrollbar {
  width: 5px;
}
.barra::-webkit-scrollbar-track {
  background: transparent;
}

.barra::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.4);
  border-radius: 4px;
}


